body {
    & section:nth-child(3) {
        border-top: 1px solid var(--border-primary);
        
        & div:has(.heading-2) {
            margin-block: 4rem;
        }
    }

    & .card-travel {
        & div {
            & p + p {
                font-weight: var(--fw-bold);
                margin-top: 1rem;
            }

            & ul {               
                & li {
                    font-weight: var(--fw-bold);
                    margin-left: 1.8rem;
                }

                & li::marker {
                    color: var(--text-secondary);
                }
            }
        }
    }

    & .card-travel:nth-child(1) {
        & div {
            & ul {
                & li {
                    color: var(--accent-blue);
                }
            }
        }
    }

    & .card-travel:nth-child(2) {
        & div {
            & ul {
                & li {
                    color: var(--accent-blue);
                }
            }
        }
    }

    & .card-travel:nth-child(3) {
        & div {
            & ul {
                & li:nth-child(1) {
                    color: var(--accent-purple);
                }

                & li:nth-child(2) {
                    color: var(--accent-pink);
                }

                & li:nth-child(3) {
                    color: var(--accent-orange);
                }
            }
        }
    }

    & .divisor + div {
        & p {
            text-align: center;
        }
    }
}
