@import "./global";

body {
    align-items: center;
    background-color: $background-default;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    overflow-x: hidden;
    height: 100dvh;
    width: 100dvw;

    .headline {
        color: $text-headline;
        text-transform: uppercase;
    }

    #subtitle {
        color: $text-secondary;
        font-style: italic;
    }

    main {
        border: 1px solid green;
        display: flex;
        flex-direction: column;
        gap: 2.5rem;
        margin: 5rem 5rem 4rem;

        section {
            width: 100%;
        }

        #titlePage {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }

        #destinationDescription {
            align-items: center;
            display: flex;
            flex-direction: column;
            gap: 1.5rem;

            img {
                border-radius: 1.75rem;
                width: inherit;
            }
        }
    }

    // footer {
    //     border: 1px solid purple;
    // }
}