.container {
    border: 1px solid red;
    margin-block: 5.5rem;
    margin-inline: auto;
    max-width: 70rem;
}

.flex {
    display: flex;
}

.flex-columns {
    flex-direction: column;
}

.gap-2\.5 {
    gap: 2.5rem;
}

.gap-3 {
    gap: 3rem;
}

.subtitle {
    font-style: italic;
    text-align: center;
}

.headline {
    color: var(--text-headline);
    
    text-transform: uppercase;
}

.heading-1 {
    font-size: var(--fs-2xl);
    
}

.heading-2 {
    font-size: var(--fs-xl);
}

.heading-3 {
    font-size: var(--fs-lg);
    padding-inline-start: 0.5rem;
}

.card-travel {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.destination-cover {
    height: 21.875rem;
    object-fit: cover;
    width: 100%;
}

.divisor {
    border-top: 1px solid var(--border-primary);
}